body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
body:focus,
div:focus,
span:focus,
header:focus,
footer:focus,
nav:focus,
section:focus,
aside:focus,
article:focus,
ul:focus,
dl:focus,
dt:focus,
dd:focus,
li:focus,
a:focus,
p:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
i:focus,
b:focus,
textarea:focus,
button:focus,
input:focus,
select:focus,
figure:focus,
figcaption:focus {
  outline: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.logo .e-ipt .el-input__inner {
  border: none;
  padding: 0 20px;
}
.logo .e-ipt .el-input {
  width: 86%;
}
.logo .l-find .el-input {
  width: 65%;
}
.logo .e-my .el-input {
  width: 50%;
}
.logo .el-button:hover {
  color: #fff;
  border-color: #FFA317;
  background-color: #FFA317;
}
.logo .el-button:focus {
  color: #fff;
  border-color: #FE6603;
  background-color: #FE6603;
}
.logo .el-checkbox__input.is-checked .el-checkbox__inner,
.logo .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #E17226;
  border-color: #E17226;
}
.logo .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #E17226;
}
.logo .el-checkbox__label {
  color: #999;
  padding-left: 5px;
  font-size: 12px;
}
.d-bto {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 15px;
}
.logo-center {
  width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}
.e-btn {
  width: 100%;
  background-color: #FE6603;
  color: #fff;
}
.logo-img {
  width: 100%;
  background: url(../assets/img/logoB.png) no-repeat;
  background-position-x: center;
  height: 523px;
  position: relative;
  overflow: hidden;
}
.e-enroll {
  margin-top: 55px;
  text-align: center;
  font-size: 16px;
  color: #999;
  cursor: pointer;
}
.logo-code {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-code .code-img {
  width: 167px;
  margin-bottom: 26px;
}
.l-error {
  font-size: 11px;
  margin: 4px 0;
  color: #FF0000;
}
.el-dropdown-link {
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
.el-dropdown-link i {
  margin-left: 14px;
}
.p-color {
  color: #FE6603;
}
.pdet .el-select {
  display: block;
}
.logo .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #999;
}
.no-toast {
  padding-top: 100px;
  height: 400px;
  color: #999;
  font-weight: 550;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cc-btn {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cc-btn .c-sure {
  cursor: pointer;
  text-align: center;
  width: 154px;
  height: 46px;
  line-height: 46px;
  background-color: #EC7522;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
.el-dropdown-menu {
  z-index: 2050 !important;
}
.synth .el-input {
  width: 300px;
}
.synth .el-date-editor--daterange.el-input,
.synth .el-date-editor--daterange.el-input__inner,
.synth .el-date-editor--timerange.el-input,
.synth .el-date-editor--timerange.el-input__inner {
  width: 300px;
}
.synth .el-input__inner::-webkit-input-placeholder {
  color: #999;
}
.synth .el-range-input::-webkit-input-placeholder {
  color: #999;
}
.synth .contract .el-input {
  width: 130px;
}
.synth .contract .el-input__prefix {
  left: 0;
}
.synth .contract .el-input--prefix .el-input__inner {
  padding-left: 20px;
}
.synth .contract .el-input--suffix .el-input__inner {
  padding-right: 5px;
}
.aptitude .el-input {
  width: 245px;
}
.order .el-input {
  width: 115px;
}
.about .el-dropdown-link {
  color: #fff;
}
.result .el-loading-spinner .path {
  stroke: #FE6603;
}
.result .el-loading-spinner .el-loading-text {
  color: #FE6603;
}
.buy .el-loading-spinner .path {
  stroke: #FE6603;
}
.buy .el-loading-spinner .el-loading-text {
  color: #FE6603;
}
.order .el-loading-spinner .path {
  stroke: #FE6603;
}
.order .el-loading-spinner .el-loading-text {
  color: #FE6603;
}
.money .ttt {
  display: flex;
  flex-direction: row;
}
.money .ttt .el-input {
  width: 30%;
}
.money .ttt .el-input__inner {
  height: 30px;
  line-height: 30px;
}
.money .ttt .in-line {
  width: 26px;
  height: 1px;
  background-color: #999;
  margin: auto 14px;
}
.money .ttt .t-btn {
  width: 50px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  margin-left: 30px;
  background-color: #FE6603;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  margin-top: 2px;
  cursor: pointer;
}
.perpor .ttt {
  display: flex;
}
.perpor .ttt .el-input {
  width: 30%;
}
.perpor .ttt .el-input__inner {
  height: 30px;
  line-height: 30px;
}
.perpor .ttt .el-input__icon {
  line-height: 30px;
}
.perpor .ttt .in-line {
  width: 26px;
  height: 1px;
  background-color: #999;
  margin: auto 14px;
}
.perpor .ttt .t-btn {
  width: 50px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  margin-left: 30px;
  background-color: #FE6603;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  margin-top: 2px;
  cursor: pointer;
}
.per-color {
  color: #999;
  cursor: pointer;
}
.vi-color {
  color: #FE6603;
  cursor: pointer;
}
.no-list {
  width: 1020px;
  margin: 0 auto;
  background-color: #fff;
  height: 600px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-f {
  text-align: left;
  padding: 0 5px;
  box-sizing: border-box;
}
.blur {
  background-color: #fafdff;
  font-size: 14px;
  color: #999;
}
.build .el-input {
  width: 70%;
}
.box-p {
  padding: 5px;
  box-sizing: border-box;
}
