@color:#FE6603;
.maxW-box{
    width: 1020px;
    margin: 0 auto;
}
.nav-menu{
    width: 1020px;
    margin: 0 auto;
    font-size: 12px;
    color: #666;
    line-height: 40px;
}
.condition{
    display: flex;
    flex-wrap: wrap;
}
.condition>div{
    margin-right: 5px;
    margin-bottom: 6px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding: 0 9px;
    color: #666;
}



.condition>.current{
    background-color: @color;
    color: #fff;
}
.el-input-number--mini{
    width: 90px;
}
.no-toast{
    padding: 80px 0;
    text-align: center;
    color: #999;
    img{
        display: block;
        margin: 0 auto
    }
}
.ajax-erroe{
    padding: 80px 0;
    text-align: center;
    color: #999;
    img{
        display: block;
        margin: 0 auto 30px;
    }
    span{
        cursor: pointer;
        display: inline-block;
        width: 70px;
        line-height: 25px;
        background: @color;
        color: #fff;
        border-radius: 3px;
    }
}


.ZJquery{
    padding-bottom: 80px;
    h1{
        text-align: center;
    }
}

body .el-icon-loading{
    /* color: #999; */
    margin-bottom: 20px;
    font-size: 50px;
}
body .el-loading-spinner .el-loading-text{
    color:@color
}
// body .el-loading-spinner .path{
//     stroke:@color
// }
.el-row{
    margin-bottom: 10px;
    .flex{
        display: flex;
        align-items: center;
    }
}
.bottom-bor{
    // border-bottom: 10px solid #f0f0f0
    margin-bottom: 10px;
    background: #fff;
    padding: 15px 10px 10px;
    .el-col-1{
        width: auto;
    }
}

.select{
    // background-color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    .el-input{
        width:250px;
        margin-right: 15px;
    }
    .inputW{
        width: 150px;
    }
    .inputW.r{
        margin-left: 15px;
        margin-right: 0
    }
}
.totalBox{
    background: #fff;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    height: 104px;
    display: flex;
    justify-content: space-between;
    .leftl{
        display: flex;
        align-items: center;
        p{
            margin-left:18px;
            margin-right: 60px;
            color: #ccc;
            span{
                color:@color;
            }
        }
        img{
            width: 30px;
        }
        .btn{
            width: 120px;
            line-height: 36px;
            border-radius: 8px;
            color: #fff;
            outline: none;
            background: @color;
            cursor: pointer;
        }
        .ban{
            background: #CCC;
            cursor: not-allowed;
            opacity: .8;
        }
    }
    .rightr{
        width:272px;
        p{
            font-size: 18px;
            text-align: center;
        }
        .up{
            color: @color;
            padding: 18px 0 5px;
            border-bottom: 2px solid @color;
            margin-bottom: 11px
        }
        .down{
            color: #8ABAD0;
        }
    }
    // p{
    //     line-height: 40px;
    //     font-size: 16px;
    //     color: #999;
    // }
}
.queryList .list{
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 160px;
    li{
        min-height: 80px;
        border-bottom: 1px solid #f0f0f0;
        padding: 15px;
        box-sizing: border-box;
    }
    .top{
        cursor: pointer;
        display: flex;
        // justify-content: space-between;
        h5{
            font-size: 18px;
            color: #000;
            // font-weight: normal;
            margin-right: 12px;
        }
        .right-label{
            max-width:575px;
        }
    }
    .bottom{
        display: flex;
        margin-top: 20px;
        color: #000;
        p{
            margin-right: 80px;
        }
        // font{
        //     color: #FE6603;
        // }
    }
}



.queryDetail{
    background: #f0f0f0;
    min-height: calc(100vh - 80px);
    padding-bottom: 80px;
    h1{
        text-align: center;
    }
    .maxW-box{
        background: #fff;
        box-sizing: border-box;
    }
    .basic{
        padding: 20px;
        margin-bottom: 20px;
        .title{
            display: flex;
            font-size: 18px;
            color: #333;
            font-weight: bold;
            // align-items: center;
            margin-bottom: 15px;
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border-radius: 5px;
            }
            .joinRegion{
                margin-left: 10px
            }
            // .tag{
            //     display: inline-block;
            //     font-size: 12px;
            //     margin-left: 10px;
            //     padding: 2px 5px;
            //     text-align: center;
            //     background: #E3E6FD;
            //     color: #3A76F0;
            //     font-weight: normal;
            // }
        }
        .basic-box{
            border: 1px solid rgb(228, 228, 228);
            border-bottom: none;
            div{
                display: flex;
                color: #333;
                font-size: 14px;
                border-bottom: 1px solid rgb(228, 228, 228);
                p{
                    line-height: 40px;
                    text-align: center;
                    min-width:25%;
                    width: 100%;
                    padding: 0 30px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                }
                .bg{
                    background: rgb(242, 242, 242);
                    font-weight: bold;
                    width: 25%;
                    justify-content: center;
                }
            }
        }
    }
    
    .list{
        padding: 20px;
        .tab{
            margin-bottom: 20px;
            ul{
                display: flex;
                font-size: 14px;
                align-items: center;
                position: relative;
                .current{
                    color: @color
                }
                li{
                    padding: 0 20px;
                    cursor: pointer;
                    border-right: 1px solid #999;
                }
                li:last-child {
                    border-right: none;
                }
                span{
                    font-size: 12px;
                    position: absolute;
                    cursor: pointer;
                    display: inline-block;
                    right: 0;
                    padding:8px;
                    border: 1px solid  @color;
                    color: @color;
                    border-radius: 5px;
                }
            }
        }
        .list-box{
            font-size: 14px;
            border: 1px solid #f2f2f2;
            .condition{
                padding:10px 5px;
                span{
                    display: inline-block;
                    padding:0 10px;
                    margin-right: 10px;
                    cursor: pointer;
                }
                .current{
                    background: @color;
                    color: #fff;
                }
            }
            table{
                width: 100%;
                border-collapse: collapse;
                border-top: 1px solid #f2f2f2;
                tr{
                    // border-top: 1px solid #f2f2f2;
                }
                td{
                    text-align: center;
                    height: 48px;
                    border: 1px solid #f2f2f2;
                    box-sizing: border-box;
                }
            }
        }
    }
}


.flex-center{
    display: flex;
    align-items: center
}