.chq-pop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.49);
  z-index: 9999;
}
.chq-pop .pop-main {
  width: 980px;
  background: #ffffff;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  padding-bottom: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}
.chq-pop .pop-main .pop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  font-size: 18px;
  padding: 0 30px;
  color: #150000;
  font-weight: 550;
}
.chq-pop .pop-main .pop-look {
  color: #4494F0;
  cursor: pointer;
}
.chq-pop .pop-main .pop-look i {
  margin-right: 4px;
}
.chq-pop .pop-main table {
  margin: 0 30px;
  width: 920px;
  border: 1px solid #dddfe4;
  border-collapse: collapse;
}
.chq-pop .pop-main table td {
  height: 48px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #dddfe4;
  padding: 5px 30px;
  box-sizing: border-box;
}
.chq-pop .pop-main table .td-title {
  text-align: center;
  font-weight: 550;
  background: #f4f4f4;
}
.chq-pop .pop-line {
  border-bottom: 1px solid #DDDFE4;
}
